.container{
    
    width: 100%;
    justify-content: center;
    position: unset;
    max-width: 800px;
    text-shadow: black 7px;
    margin-top: 10%;
    
    
}
.container  h2{
    color: #e9e2d0;
    
}
.container  p{
    color: bisque;
}
@media (min-width:1024px) {
    .container {
        margin-top: 5%;
    }
}

